{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div style='display: flex'>
        <img class="image" src="{{ pic }}" alt="">
        <div>
            <h4>Кот - {{ name }}</h4>
            <h4>Возраст - {{ age }}</h4>
            <h4>Уровень счастья - {{ happiness }}</h4>
            <h4>Уровень сытости - {{ fill }}</h4>
        </div>
    </div>
    <br>
    <form action="/cat/" method="POST">
        {% csrf_token %}
        <select name="act" id ="act" placeholder="Выберите действие">
            <option value='' disabled selected>Выберите действие</option>
            <option value='play'>Поиграть с котом</option>
            <option value='feed'>Покормиться кота</option>
            <option value='sleep'>Уложить спать кота</option>
        </select>
        <br>
        <br>
        <br>
        <input type="submit" value="Подтвердить"/>
    </form>
</body>
</html>